# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows Installer files
*.cab
*.msi
*.msm
*.msp

# =========================
# Operating System Files
# =========================

# OSX
# =========================

.DS_Store
.AppleDouble
.LSOverride

# Icon must ends with two \r.
Icon
# Thumbnails
._*

# Files that might appear on external disk
.Spotlight-V100
.Trashes


#Unity files
*.cs.meta
*.dll.meta
Library/metadata/*
Temp/*
obj/Debug/*
Library/ShaderCache/*
Library/shadercompiler-1.log
Library/ShaderCache.db
Library/assetDatabase3
Library/AssetServerCacheV3
Library/AssetImportState
Library/AssetVersioning.db
Library/AnnotationManager
Library/CurrentLayout.dwlt
Library/expandedItems
Library/guidmapper
Library/ScriptAssemblies/*
*.sln
*.csproj
*.sln
*.v12.suo
Library/InspectorExpandedItems.asset
*.v12.suo