# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows Installer files
*.cab
*.msi
*.msm
*.msp

# =========================
# Operating System Files
# =========================

# OSX
# =========================

.DS_Store
.AppleDouble
.LSOverride

# Icon must ends with two \r.
Icon
# Thumbnails
._*

# Files that might appear on external disk
.Spotlight-V100
.Trashes


#Unity files
*.cs.meta
Unity project/Library/metadata/*
Unity project/Temp/*
Unity project/obj/Debug/*
Unity project/Library/ShaderCache/*
Unity project/Library/shadercompiler-1.log
Unity project/Library/ShaderCache.db
Unity project/Library/assetDatabase3
Unity project/Library/CurrentLayout.dwlt
Unity project/Library/expandedItems
Unity project/Library/guidmapper
Unity project/Library/ScriptAssemblies/*
Unity project/Unity project-csharp.sln
Unity project/Unity project.sln
Unity project/Unity project.v12.suo
Unity project/Library/InspectorExpandedItems.asset
Unity project/Unity project-csharp.v12.suo